
body { 
    margin: 0;

   padding: 0;
   display: flex;
   justify-content:left;
   align-items: center;
   min-height: 100vh;
   background: #031321;
   font-family: consolas;
   position:absolute;
   height: 50%;

}
input{



 background-color: pink;
position: relative;
display: inline-block;
padding: 30px 60;
color: blue;
height: 50%;
text-transform: uppercase;
letter-spacing: 4px;
text-decoration: none;
font-size: 50px;
overflow: hidden;
transition: 0.2s;


}
input hover{


   color: #7539db;
   background: #2196f3;
   box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 70px #2196f3;
   transition-delay: 0.2;
}
img{

background-color: black;
 
position: relative;
display: inline-block;
padding: 3px 6;
color:black;
text-transform: uppercase;
letter-spacing: 4px;
text-decoration: none;
font-size: 5px;
overflow: hidden;
transition: 0.2s;

